name: Build Quarkus Docker Image (Gradle)

permissions:
  contents: read
  packages: write

on:
  push:
    branches: [ dev ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v4

      - name: Setup Java (JDK 21)
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21

      - name: Build Quarkus app
        run: ./gradlew clean build -x test -Dquarkus.profile=prod

      - name: Build Docker image (JVM)
        run: |
          docker build -f src/main/docker/Dockerfile.jvm -t shopouille-catalog:latest .
      - name: Save Docker image as artifact
        run: docker save shopouille-catalog:latest -o shopouille-catalog.tar
      - name: Save Docker image as artifact
        uses: actions/upload-artifact@v4
        with:
          name: docker-image
          path: shopouille-catalog.tar
  publish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Download Docker image artifact
        uses: actions/download-artifact@v4
        with:
          name: docker-image
          path: .

      - name: Load Docker image
        run: docker load -i shopouille-catalog.tar

      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Set lowercase image name
        id: vars
        run: |
          owner=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          echo "owner=$owner" >> $GITHUB_OUTPUT

      - name: Tag & push Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ steps.vars.outputs.owner }}/shopouille-catalog
          docker tag shopouille-catalog:latest $IMAGE_NAME:latest
          docker push $IMAGE_NAME:latest
